*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 20px;
	overflow-x: hidden;
	font-family: 'Flamenco', cursive;
}
header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/back.jpg');
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}
.navigation{
	max-width: 1180px;
	margin:0 auto;

}
.clearfix:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}
.logo{
	height: 200px;
	width: auto;
	float: left;
	margin-top: 20px;
}
.list{
	float: right;
	margin-top: 60px;
}
.list li{
	display: inline-block;
	margin-left: 40px;

}
.list li a{
	color: green;
	text-decoration: none;
	font-size: 17px;
	text-transform: uppercase;
	font-size: 90%;
	font-weight: 100;
	padding: 5px 0px;
}
.list li a:hover{
	border-bottom: 4px solid green;
	transform: translateY(-3);
    box-shadow: 2px 4px 17px white;
}
.main-content{
	width: 1180px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-transform: uppercase;
}
h1{
	color: purple;
	font-size: 48px;
	word-spacing: 5px;
	letter-spacing: 3px;
	margin-bottom: 20px;
	font-weight: lighter;
}
.btn{
	padding: 10px 30px;
	text-decoration: none;
	font-weight: lighter;
	text-transform: uppercase;
	border-radius: 200px;
}
.btn-full{
	background-color: transparent;
	color: green;
	margin-right: 15px;
	border: 1px solid red;
}
.btn-full:hover{
	background-color: white;

}
.btn-half{
	background-color: transparent;
	color: white;
	margin-right: 15px;
	border: 1px solid red;
}
.btn-half:hover{
	background-color: green;

}
.color{
	animation: abc 2s infinite;
}
@keyframes abc{
	0%{color: red;}
	25%{color: purple;}
	50%{color: green;}
	75%{color: white}

}
.icon{display: none;}
@media only screen and (max-width: 1180px){
	.main-content{
		width: 100%;
		padding: 0 2%;
	}
}
@media only screen and (max-width: 998px){
	h1{font-size: 200%}
	
}

@media only screen and (max-width: 768px){
	.list{
		display: none;
	}
	.icon{display: inline-block;
		color: white;
		float: right;
		padding: 10px 20px;}
	h1{font-size: 180%}
	.list li{
		padding: 5px 2px;
		display: block;
	}
	.list{
		float: left;
	}
}